* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.PricingCard {
  border: 1px solid rgba(155, 155, 155, 0.649);
  border-radius: 0.5em;
  width: 300px;
  margin: 1em;
  background: white;
}

.top_card {
  text-align: center;
  padding: 1.5em;
}

.bottom_card {
  padding: 0.8em;
}
.hr {
  border: none;
  height: 1px;
  background-color: rgb(155, 155, 155);
  width: 40%;
}

.hr_div {
  display: flex;
  justify-content: center;
}

.price {
  font-weight: bold;
  font-size: 4em;
  margin-bottom: 0 !important;
}

.subscription_name {
  font-weight: 200;
}

.features {
  list-style: none;
  margin-left: 0 !important;
  padding-inline-start: 0;
}
