.authHero {
    background-image: url("https://ik.imagekit.io/smec/git/marissa-grootes-ck0i9Dnjtj0-unsplash.jpg?updatedAt=1702119191623");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.authContainer {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #EBEBEB;
}

.container, .containerForm{
    width: 50%;
}

.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formWrapper{
    width: 65%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.form {
    border: 1px solid rgba(211, 211, 211, 0.589);
    border-radius: .4em;
    margin-top: 3em;
}


.formGroup input {
    border: none;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    outline:none;
}

input[type=text], input[type=password], input[type=email]{
    font-size: 14.5px;
    background-color: #EBEBEB;
}

label {
    color: rgba(128, 128, 128, 0.719);
    font-size: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hr{
    border: none;
    height: 1px;
    background-color: rgb(205, 205, 205);
}


.logo {
    width: 10em;
    position: fixed;
    top: 0;
    left: 0;
    margin: 1em;

}

.login_header{
    font-weight: 200;
    font-size: 2em;
    
}

.login_header_span {
    font-weight: 600;
    color: #35185a;
}

.button {
    margin-top: 2em;
    background-color: #35185a;
    border: none;
    color: white;
    padding: 1em;
    width: 100%;
    border-radius: .5em;
}

.authPrompt {
    margin-top: 1em;
    text-align: center;
}

.authLink {
    color: #35185a;
    font-weight: bold;
    cursor: pointer;
}

.forgotPassword {
    margin-top: .2em;
    margin-left: .5em;
    font-size: .9em;
    cursor: pointer;
}

.forgotPassword:hover {
    font-weight: bold;
    color: #35185a;
}

.spinner {
    margin-left: .5em;
}

.routerLink {
    text-decoration: none;
    color: black;
}

.inputEyeContainer {
    display: flex;
    align-items: center;
}

.inputEyeContainer div {
    display: flex;
    text-align: center;
    cursor: pointer;
}

.eye {
    display: none;
}

.eyeContainer {
  margin-top: 1.1em;
}

.labelPasswordGroup {
    display: flex;
    flex-direction: column;
    margin-left: .5em;
}

.emailGroup {
    margin-left: 2.9em;
}

.GoogleButtonForm {
    display: flex;
    justify-content: center;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}




/* Mobile Styles */

@media screen and (max-width: 800px) {
    .authContainer {
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .formWrapper{
       width: auto;
       max-width: 90%;
    }

    .containerForm{
        width: auto;
        margin-bottom: 2em;
        height: 60%;
    }

    .container{
        height: 40%;
        width: 100%;
    }
}